:root {
  --sans: 'Open Sans', helvetica, sans-serif;
  --serif: 'Playfair Display', Times, serif;

  --roso-300: RGBA(255, 113, 118, 1);
  --roso-400: RGBA(255, 83, 90, 1);
  --roso-500: RGBA(255, 50, 62, 1);
  --roso-600: RGBA(255, 0, 36, 1);
  --roso-700: RGBA(250, 0, 21, 1);
  --roso-800: RGBA(218, 0, 0, 1);
  --roso-900: RGBA(188, 0, 0, 1);

  --verde-200: RGBA(162, 255, 202, 1);
  --verde-300: RGBA(95, 242, 159, 1);
  --verde-400: RGBA(86, 212, 140, 1);
  --verde-500: RGBA(39, 185, 107, 1);
  --verde-600: RGBA(35, 156, 91, 1);
  --verde-700: RGBA(31, 129, 76, 1);
  --verde-800: RGBA(27, 103, 62, 1);

  --azzurro-200: RGBA(163, 249, 255, 1);
  --azzurro-300: RGBA(64, 238, 252, 1);
  --azzurro-400: RGBA(0, 203, 223, 1);
  --azzurro-500: RGBA(0, 178, 196, 1);
  --azzurro-600: RGBA(0, 151, 166, 1);
  --azzurro-700: RGBA(0, 127, 139, 1);
  --azzurro-800: RGBA(0, 104, 112, 1);

  --blu-600: RGBA(0, 123, 175, 1);
  --blu-700: RGBA(0, 101, 146, 1);
  --blu-800: RGBA(0, 82, 120, 1);
  --blu-900: RGBA(0, 63, 94, 1);
  --blu-1000: RGBA(0, 47, 70, 1);

  --arancione-300: RGBA(255, 130, 101, 1);
  --arancione-400: RGBA(255, 106, 73, 1);
  --arancione-500: RGBA(255, 83, 46, 1);
  --arancione-600: RGBA(255, 60, 0, 1);
  --arancione-700: RGBA(248, 42, 0, 1);
  --arancione-800: RGBA(217, 29, 0, 1);
  --arancione-900: RGBA(187, 13, 0, 1);

  --nero-50: #fff;
  --nero-100: RGBA(240, 240, 240, 1);
  --nero-200: RGBA(226, 226, 226, 1);
  --nero-300: RGBA(197, 197, 197, 1);
  --nero-400: RGBA(170, 170, 170, 1);
  --nero-500: RGBA(142, 142, 142, 1);
  --nero-600: RGBA(117, 117, 117, 1);
  --nero-700: RGBA(91, 91, 91, 1);
  --nero-800: RGBA(68, 68, 68, 1);
  --nero-900: RGBA(44, 44, 44, 1);
  --nero-1000: RGBA(25, 25, 25, 1);
  --nero-1100: #000;

  --bianco: var(--nero-50);
  --bianco-t: RGBA(255, 255, 255, 0.3);
  --nero: var(--nero-900);
  --arancione: var(--arancione-600);
  --blu: var(--blu-600);
  --azzuro: var(--azzurro-600);
  --verde: var(--verde-600);
  --roso: var(--roso-600);

  --main: var(--azzurro-500);
  --link-color: var(--main);
  --link-color-hover: var(--main);

  --lh-25: 0.9;
  --lh-50: 1;
  --lh-100: 1.1;
  --lh-200: 1.4;
  --lh-300: 1.6;

  --font-size-300: 0.8rem;
  --font-size-400: 1rem;
  --font-size-500: 1.125rem;
  --font-size-600: 1.6rem;
  --font-size-700: 2.4rem;
  --font-size-800: 3rem;
  --font-size-850: 4rem;
  --font-size-900: 5rem;
  --font-size-1000: 6rem;

  --spacing-50: 0.1rem;
  --spacing-100: 0.2rem;
  --spacing-150: 0.4rem;
  --spacing-200: 0.6rem;
  --spacing-300: 1rem;
  --spacing-400: 1.5rem;
  --spacing-500: 2rem;
  --spacing-600: 4rem;
  --spacing-700: 6rem;

  --br-400: 0.2em;
  --br-500: 0.4em;

  --mw-400: 38em;
  --mw-500: 56em;

  --bp-100: 36rem;
  --bp-200: 62rem;

  --header-height: 3rem;
  --footer-height: 4.5rem;

  --mid-width: 100%;
  --narrow-width: 100%;

  --border: 1px solid var(--nero-100);

  --ratio-3x2: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--nero);
}

* {
  box-sizing: border-box;
}
site-header,
site-footer {
  position: relative;
  z-index: 1;
}
main {
  margin: 0;
  position: relative;
  z-index: 0;
  height: 100%;
  overflow: hidden;
}
body {
  font-family: var(--sans);
  font-weight: 300;
  line-height: var(--lh-100);
  font-size: var(--font-size-500);
  display: grid;
  grid-template-rows: var(--header-height) 1fr;
  min-height: 100vh;
}

body.fixed {
  height: 100vh;
}

@media screen and (min-width: 36rem) {
  :root {
    --edge: var(--spacing-700);
    --mid-width: var(--mw-500);
    --narrow-width: var(--mw-400);
    --footer-height: 3.5rem;
  }
}

button {
  display: inline-block;
  border: none;
  background: var(--highlight);
  color: white;
  padding: 0.6em 1.6em;
  outline: none;
  font-size: 0.8em;
  font-weight: 300;
  font-family: var(--sans);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
}

h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}
h2 + p,
h3 + p,
h4 + p,
h5 + p {
  margin-top: 0;
}

hr {
  border: none;
  padding: 1px 0 0 0;
  background: var(--nero-100);
  width: 12em;
  margin: var(--spacing-700) auto;
}

a {
  color: var(--main);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

pre {
  background: var(--nero-100);
  padding: var(--spacing-300);
  overflow: scroll;
  border-radius: var(--br-400);
}

blockquote {
  --space: var(--spacing-200);
  margin-left: calc(var(--space) * -1);
  padding-left: var(--space);
  border-left: 3px solid var(--main-t);
  font-style: italic;
}

em {
  font-weight: 500;
}

blockquote em {
  font-style: normal;
}

dt {
  font-weight: 600;
  margin-top: var(--spacing-600);
}
dd {
  margin: 0 0 var(--spacing-200) var(--spacing-300);
}

dl dl dt {
  margin-top: var(--spacing-300);
}
